@import "./modules/planner.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

// .container {
//   width: 1200px;
//   margin: 0 auto;
// }

body {
  width: 100vw;
  height: calc(100vh - 0px);
  overflow: hidden;
}
