@import "./modules/planner.scss";
@import "./variables";
@import "./mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  width: 100vw;
  height: calc(100vh - 0px);
  overflow: hidden;
  font-size: 1.8rem;

  @media screen and (max-width: $mobile_max-width) {
    font-size: 1.5rem;
  }
}
