.task {
  display: block;
  min-width: 70px;
  min-height: 100px;
  border: 1px solid #eee;
  overflow-wrap: break-word;

  &_selected {
    border: 2px solid #aaa;
  }

  &__element {
    padding: 3px 5px;
    border: 1px solid #48b;
    background-color: #59c;
    color: #fff;

    &_green {
      background-color: green;
    }
    &_orange {
      background-color: orange;
    }
    &_red {
      background-color: red;
    }

    &__title {
      color: #fff;
      text-transform: uppercase;
    }

    &__duration {
      color: #fff;
    }
  }
}

@media screen and (max-width: $tablet_max-width) {
  .task {
    min-width: 50px;
    min-height: 50px;
    height: fit-content;
  }
}
